<ion-header>
  <ion-navbar>
    <ion-title>Vaccine Form</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name='attach' (click)="attachRecord()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="confirmRecord()">
        <section class="form-section">
          <h2 class = "{{card_form.get('confirmed').value=='Y' ? 'section-title' : 'title-notconfirmed'}}">{{ card_form.get('vaccine_name').value }}</h2>
            <div *ngIf="card_form.get('schedules') !== null; else templateName">
              <div formArrayName="schedules" *ngFor="let sched of card_form.get('schedules').controls; let i=index">
                <ion-row no-padding class="multi-input-row" [formGroupName]="i">
                  <ion-col no-padding width-30>
                    <ion-label class = "section-label">Dose: {{sched.get('interval').value}}</ion-label>
                  </ion-col> 
                  <ion-col no-padding width-70>
                    <ion-label class = "section-label" *ngIf="sched.get('agerangelow').value > 0 && sched.get('agerangelow').value !==sched.get('agerangehigh').value">{{sched.get('agerangelow').value}} to {{sched.get('agerangehigh').value}} {{sched.get('agerangeunit').value}} </ion-label>
                    <ion-label class = "section-label" *ngIf="sched.get('agerangelow').value > 0 && sched.get('agerangelow').value ==sched.get('agerangehigh').value">{{sched.get('agerangelow').value}} {{sched.get('agerangeunit').value}} </ion-label>
                    <ion-label class = "section-label" *ngIf="sched.get('agerangelow').value==0">{{sched.get('notes').value}}</ion-label>                        
                  </ion-col> 

                  <ion-item>
                    <ion-label floating>Date</ion-label>
                    <ion-datetime formControlName="exp_date" displayFormat="MM/DD/YYYY" pickerFormat="MM-DD-YYYY" [max]="today()"></ion-datetime>
                  </ion-item>
                  <ion-item>  
                    <ion-label floating>Physician</ion-label>
                    <ion-input type="text" formControlName="physician"></ion-input>
                  </ion-item>
                </ion-row>
              </div>  
            </div>

          <ng-template #templateName>
            <ion-row no-padding class="content-row one-line">        
              <ion-item>
                <ion-label floating>Date</ion-label>
                <ion-datetime formControlName="exp_date" displayFormat="MM/DD/YYYY" pickerFormat="MM-DD-YYYY" [max]="today()"></ion-datetime>
              </ion-item>
              <ion-item>  
                <ion-label floating>Physician</ion-label>
                <ion-input type="text" formControlName="physician"></ion-input>
              </ion-item>
            </ion-row>
          </ng-template>
        </section>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <button ion-button block class="form-action-button create-card-button" type="submit" [disabled]="!card_form.valid">Confirm</button>
            </ion-col>
            <ion-col no-padding width-30>
              <button ion-button block class="form-action-button" type="button" (click)="saveRecord()" [disabled]="!card_form.dirty">Save</button>
          </ion-col>
          <ion-col no-padding width-30> 
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()">Delete</button>
          </ion-col>    
         </ion-row>
        </section>
      </form>
    </div>
</ion-content>
