<ion-header>
  <ion-navbar>
    <ion-title>Procedure Form</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="attachRecord()">
        <ion-icon name='attach'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="forms-examples-content">
    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <ion-card class="sample-form">
          <h2 class = "section-title-center" *ngIf="newRec">New Procedure Record</h2>
          <h2 class = "section-title-center" *ngIf="!newRec">{{ curRec.procedurename }}</h2>

          <ion-row *ngIf="newRec && checkTiming">
            <ion-col>
              <h2 class = "section-title" (click)="presentHelp(myEvent)">Timing of Procedureⓘ</h2>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="newRec && checkTiming">
            <ion-item>
              <ion-label floating>Select the proper timing for procedure*</ion-label>
              <ion-select formControlName="proceduretiming">
                <ion-option class="section-title" value="atvisit" (ionSelect)="setTiming('atvisit')">Performed at diagnosis visit</ion-option>
                <ion-option class="section-title" value="aftervisit" (ionSelect)="setTiming('aftervisit')">To be performed - schedule visit</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

          <ion-row *ngIf="newRec">
            <ion-item>
              <ion-label floating>Procedure*</ion-label>
              <ion-input type="text" [(ngModel)]="procedureTerm" [formControl]="procedurename"></ion-input>
            </ion-item>
            <ion-list *ngIf="showList()">
                <ion-item *ngFor="let item of items; let idx = index" (click)="searchListTerm(item.value)">
                    {{item.value}}
                </ion-item>
            </ion-list>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </ion-row>

          <ion-row>
            <ion-col no-padding *ngIf="!newRec && !needsDate">
              <ion-item>
                <ion-label floating>Date of Procedure</ion-label>
                <ion-input type="text" formControlName="dateofmeasure" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding *ngIf="newRec || needsDate">
              <ion-item>
                <ion-label floating>Date of Procedure</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY hh:mm a" [min]="1900-01-01" [max]="today()" formControlName="dateofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea type="text" formControlName="description" autosize></ion-textarea>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Result</ion-label>
              <ion-input type="text" formControlName="result"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row *ngIf="hasEvent">
            <ion-item>
              <ion-label floating>For*</ion-label>
              <ion-input type="text" formControlName="verbatimindication" [disabled]="true"></ion-input>
          </ion-item>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Status</ion-label>
                <ion-input type="text" formControlName="status" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="sample-form" *ngIf="hasVisit || needsVisit">
          <ion-row>
            <ion-col no-padding width-87>
              <h2 class = "section-title">Visit</h2>
            </ion-col>
            <ion-col *ngIf="needsVisit" class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="newVisit()" [disabled]="(!card_form.valid || !procedurename.valid) || !needsVisit">
                <ion-icon name="calendar"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="hasVisit">
            <ion-col no-padding width-87>
              <ion-item>
                <ion-label floating>Visit Name</ion-label>
                <ion-input type="text" formControlName="visittext" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button"  type="button" (click)="gotoVisit()" [disabled]="(!card_form.valid || !procedurename.valid)">
                <ion-icon name="share-alt"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="sample-form" *ngIf="showPhysician">
          <ion-row>
            <ion-col no-padding width-87>
              <h2 class = "section-title">Physician</h2>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="newContact()" [disabled]="(!card_form.valid || !procedurename.valid) && !needsVisit">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="hasPhysician">
            <ion-col no-padding width-87>
              <ion-item>
                <ion-label floating>Physician Name</ion-label>
                <ion-input type="text" formControlName="physicianname" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button"  type="button" (click)="gotoContact()" [disabled]="(!card_form.valid || !procedurename.valid)">
                <ion-icon name="share-alt"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>

        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="((!card_form.dirty && !procedurename.dirty) || !card_form.valid || !procedurename.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="!newRec">
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <button ion-button block class="form-action-button" type="button" (click)="cancel()">Cancel</button>
            </ion-col>
         </ion-row>
         <p class="section-tips" *ngIf="showTips"><b>LogosHealth Alexa Skill Tips:</b><br><br> You can add Procedures by saying "Procedure" at the main menu.</p>
      </section>
      </form>
    </div>
</ion-content>
