formVisit1-page {
	ion-header {
		@include header-styles(color($colors, walkthrough, base), color($colors, walkthrough, contrast));
	}

	.forms-examples-content
	{
		background-color: color($colors, background, base);

		.checkbox-md .checkbox-checked {
			border-color: $theme-color-1;
			background-color: $theme-color-1;
		}

		.checkbox-md .checkbox-icon {
			border-color: $theme-color-1;
		}

		.forms-examples-segment
		{

			padding: 0px 0px;
			//background-color: $white;
			@include element-shadow();
			@include segment-button-styles($theme-color-1);

			.segment-button
			{
				@include segment-text-styles($black-d);
				background-color: $white;
				//color: $theme-color-2;
				&.segment-activated
				{
					color: $theme-color-1;
					background-color: $white;
				}
			}
		}

		.sample-form
		{
      @include basic-input-style(color($colors, background, base), $black-d, $white-d);
      background-color: color($colors, background, base);

      .form-section
			{
				padding: 0px 14px;
				.item:first-child
				{
					margin-top: 20px;
        }
			}

      .columnAlign
      {
        margin-top: 5px;
        margin-right: 3px;
        vertical-align: bottom;
      }

      .columnAligntoLabel
      {
        margin-top: -15px;
        margin-right: 3px;
        vertical-align: top;
      }

      .columnInline
      {
        margin-top: 7px;
        margin-right: 3px;
      }

      .columnAlignLeft
      {
        margin-top: 40px;
        margin-left: 3px;
      }

      .columnAlignLeft2
      {
				text-align: left;
        margin-left: -3px;
      }

      ion-datetime {
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 7px;
        .datetime-text
        {
          color: $black-d;
        }
      }

			ion-item {
				@include basic-input-style(color($colors, background, base), $black-d, $white-d);
				&.item
				{
					margin-top: 14px;
					&.item-label-floating
					{
						margin-top: 0px;
						ion-label {
							color: $white-d;
            }
					}

					.item-inner
					{
						ion-icon {
							color: $theme-color-2;
						}
					}
				}

				&:first-of-type {
					margin-top: 0px;
				}
			}

			.section-title
			{
        color: $white-d;
				font-size: 1.8rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: left;
				color: $theme-color-1;
				font-weight: 400;
        margin-top: 14px;
        margin-left: 10px;
			}

      .section-titlemini
			{
        color: $white-d;
				font-size: 1.6rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: left;
				color: $theme-color-1;
				font-weight: 400;
        margin-top: 14px;
        margin-left: 10px;
			}

			.title-notconfirmed{
				@include basic-input-style(color($colors, background, base), $black-d, $white-d);
				font-size: 1.8rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: center;
				color: $theme-color-3;
				font-weight: 400;
				margin: 0px;
				margin-top: 25px;
			}

			.section-label
			{
				@include basic-input-style(color($colors, background, base), $black-d, $white-d);
				font-size: 1.5rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: center;
				color: $theme-color-2;
				font-weight: 100;
				margin-top: 0px;
				margin: 10px;
			}

			.form-action-button
			{
				margin-right: 10px;
				margin-top: 20px;

				@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
			}

      .form-action-button-top
			{
				margin-top: -2px;
				@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
			}
		}
	}
}


ion-alert.category-prompt {
	.alert-wrapper
	{
		width: 80%;
		background-color: $white;
	}

	.alert-head
	{
		padding-bottom: 20px;

		.alert-title
		{
			font-size: 2.0rem;
			line-height: 1.2;
			letter-spacing: 1.1px;
			color: $theme-color-2;
			font-weight: 400;
		}
	}

	.alert-message:empty
	{
		display: none;
	}

	.alert-checkbox-group
	{
		border: none;
		padding: 0px 20px;

		.alert-checkbox
		{
			margin: 14px 0px;

			.alert-checkbox-label
			{
				border-radius: 6px;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2px;
				background-color: $white-a;
				color: $white-d;
				text-align: center;
				@include element-shadow();
			}

			&[aria-checked=true] .alert-checkbox-label
			{
				background-color: $theme-color-1;
				color: $white;
			}

			.alert-checkbox-icon
			{
				display: none;
			}
		}
	}

	.alert-button-group
	{
		padding: 14px 0px;

		.alert-button
		{
			@include segment-text-styles($white-d);
			border-top: none;
		  border-right-color: rgba($white-d, 0.3);
			font-weight: 400;

			&:last-child
			{
			  font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
}
