<ion-header>
  <ion-navbar>
    <ion-title>Visit Form</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="attachRecord()">
          <ion-icon name='attach'></ion-icon>
        </button>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name='more'></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
    <div>
        <ion-segment [(ngModel)]="categoryList" [ngModelOptions]="{standalone: true}" class="forms-examples-segment">
          <ion-segment-button class="segment-button" value="pre"  (click)="checkPre()">
            Pre
          </ion-segment-button>
          <ion-segment-button class="segment-button" value="post" (click)="loadPost()" [disabled]="yetToHappen()">
            Post
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="categoryList" [formGroup]="card_form" (ngSubmit)="saveRecord()">
          <div *ngSwitchCase="'pre'" >
            <ion-card class="sample-form">
              <ion-row>
                <ion-col no-padding>
                  <ion-item>
                    <ion-label floating>Physician</ion-label>
                    <ion-input type="text" formControlName="physiciantitle" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding>
                  <ion-item>
                    <ion-label floating>For</ion-label>
                    <ion-input type="text" formControlName="firstname" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Visit Date</ion-label>
                    <ion-datetime displayFormat="DDD MMM DD 'YY"  formControlName="visitdate" minuteValues="0,15,30,45" max="2021-12-31" (ionBlur)="checkDate()" [disabled]="pastVisit"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-45>
                  <ion-item>
                    <ion-label floating>Visit Time</ion-label>
                    <ion-datetime displayFormat="hh:mm A"  formControlName="visittime" minuteValues="0,15,30,45" max="2021-12-31" (ionBlur)="checkDate()" [disabled]="pastVisit"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding>
                  <ion-item>
                    <ion-label floating>Reason</ion-label>
                    <ion-textarea type="text" formControlName="reason" autosize></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="hasParent">
                <ion-col no-padding>
                  <ion-item>
                    <ion-label floating>Original Reason</ion-label>
                    <ion-input type="text" formControlName="parentreason" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-card  class="sample-form">
              <h2 class = "section-title" >Important Info</h2>
              <div formArrayName="infos" *ngFor="let info of card_form.get('infos').controls; let i = index;">
                <ion-row [formGroupName]="i">
                  <ion-col no-padding width-50>
                    <ion-item  text-wrap>
                      <ion-label *ngIf="info.value.type !== null" floating>{{info.value.type}}</ion-label>
                      <ion-label *ngIf="info.value.type == null" floating>Name</ion-label>
                      <ion-input type="text" formControlName="namevalue" [disabled]="true">{{info.namevalue}}</ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col no-padding width-50>
                    <ion-item text-wrap>
                      <ion-label floating>Date</ion-label>
                      <ion-input type="text" formControlName="dateofmeasure" [disabled]="true">{{info.dateofmeasure}}</ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>

              <ion-row>
                <ion-col no-padding width-85>
                  <ion-item>
                    <ion-label floating>Important Info Category</ion-label>
                    <ion-select formControlName="importantinfo">
                      <ion-option class="section-title" value="condition">Condition</ion-option>
                      <ion-option class="section-title" value="symptom">Symptom</ion-option>
                      <ion-option class="section-title" value="temperature">Temperature</ion-option>
                      <ion-option class="section-title" value="mood">Mood</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" [disabled]="categoryEmpty()" (click)="addInfo()">
                      <ion-icon name='add'></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-card  class="sample-form">
              <ion-row>
                <ion-col no-padding width-85>
                  <h2 class = "section-title" >To Be Performed at Visit</h2>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button-top"  type="button" (click)="presentVisitItem($event)" [disabled]="!hasDate">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <div formArrayName="visititems" *ngFor="let info of card_form.get('visititems').controls; let i = index;">
                <ion-row [formGroupName]="i">
                    <ion-item  text-wrap>
                      <ion-label *ngIf="info.value.type !== null" floating>{{info.value.type}}</ion-label>
                      <ion-label *ngIf="info.value.type == null" floating>Name</ion-label>
                      <ion-input type="text" formControlName="namevalue" [disabled]="true">{{info.namevalue}}</ion-input>
                    </ion-item>
                </ion-row>
              </div>
            </ion-card>

            <ion-card  class="sample-form">
              <ion-row>
                <ion-col no-padding width-85>
                  <h2 class = "section-title" >Key Questions</h2>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button-top"  type="button" (click)="addQuestion()">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <div formArrayName="questions" *ngFor="let info of card_form.get('questions').controls; let i = index;">
                <div [formGroupName]="i">
                  <ion-row>
                    <ion-item  text-wrap>
                      <ion-label floating>Question {{ i + 1 }}</ion-label>
                      <ion-textarea type="text" formControlName="question" autosize></ion-textarea>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-item  text-wrap>
                      <ion-label floating>Answer</ion-label>
                      <ion-textarea type="text" formControlName="answer" autosize></ion-textarea>
                    </ion-item>
                  </ion-row>
                </div>
              </div>
            </ion-card>

            <ion-card  class="sample-form">
              <ion-row>
                <ion-col no-padding width-68>
                  <h2 class = "section-title" >Tasks</h2>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button-top"  type="button" (click)="addTodo()">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>

              <div formArrayName="todos" *ngFor="let info of card_form.get('todos').controls; let i = index;">
                <ion-row [formGroupName]="i">
                  <ion-col class="columnAlignLeft" no-padding width-5>
                    <ion-checkbox formControlName="completedflag" (click)="setChecked(i)"></ion-checkbox>
                  </ion-col>
                  <ion-col class="columnAlignLeft2" no-padding width-40>
                    <ion-item  text-wrap>
                      <ion-label floating>Task {{ i + 1 }}</ion-label>
                      <ion-input type="text" formControlName="taskname" (ionBlur)="syncTaskName(i)" [disabled]="isComplete(i)"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col no-padding width-40>
                    <ion-item text-wrap>
                      <ion-label floating>Task Date</ion-label>
                      <ion-datetime displayFormat="MMM DD hh:mm A" formControlName="duedate" (ionBlur)="syncDueDate(i)" [disabled]="isComplete(i)"></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col class="columnInline" no-padding width-10 *ngIf="curRec.recordid !==null">
                    <button ion-button block class="form-action-button"  type="button" (click)="checkReminder(i)" [disabled]="isComplete(i) || pastDue(i) || notReady(i)">
                      <ion-icon name="alarm"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
            <section class="form-section">
              <ion-row no-padding class="multi-input-row">
                <ion-col class="columnInline" no-padding width-49 *ngIf="curRec.recordid !==null">
                  <button ion-button block class="form-action-button" type="button" (click)="saveRecord()" [disabled]="!card_form.dirty || !card_form.valid">Save</button>
                </ion-col>
                <ion-col class="columnInline"no-padding width-49 *ngIf="curRec == undefined || curRec.recordid == null">
                  <button ion-button block class="form-action-button" type="button" (click)="saveRecord()" [disabled]="!card_form.dirty || !card_form.valid">Schedule</button>
                </ion-col>
                <ion-col class="columnInline" no-padding width-49 *ngIf="curRec.recordid !==null && !pastVisit">
                  <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Cancel Visit</button>
                </ion-col>
                <ion-col class="columnInline" no-padding width-49 *ngIf="curRec == undefined || curRec.recordid == null">
                  <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Cancel Reminder</button>
                </ion-col>
              </ion-row>
            </section>
          </div>
        </div>

        <div [ngSwitch]="categoryList" [formGroup]="card_formPost" (ngSubmit)="savePostRecord()">
          <div  *ngSwitchCase="'post'">
            <ion-card class="sample-form">
              <ion-row>
                <ion-item>
                  <ion-label floating>Visit Summary</ion-label>
                  <ion-textarea type="text" formControlName="visitsummary" autosize></ion-textarea>
                </ion-item>
              </ion-row>
            </ion-card>
            <ion-card class="sample-form">
              <ion-row>
                <ion-col no-padding width-87>
                  <h2 class = "section-title" >Diagnosis</h2>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                    <button ion-button block class="form-action-button-top"  type="button" (click)="addNewDiagnosis()">
                      <ion-icon name="add"></ion-icon>
                    </button>
                </ion-col>
              </ion-row>
              <div formArrayName="diagnoses" *ngFor="let info of card_formPost.get('diagnoses').controls; let i = index;">
                <div [formGroupName]="i">
                  <ion-row>
                    <ion-col no-padding width-87>
                      <ion-item>
                        <ion-label floating>Diagnosis {{ i + 1 }}</ion-label>
                        <ion-input type="text" formControlName="medicalevent"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col class="columnAlign" no-padding width-10>
                        <button ion-button block class="form-action-button"  type="button" (click)="updateDiagnosis(i)">
                          <ion-icon name="share-alt"></ion-icon>
                        </button>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="info.get('treatments').controls !== undefined && info.get('treatments').controls.length > 0">
                    <div formArrayName="treatments" *ngFor="let child of info.get('treatments').controls; let j = index;">
                      <div  [formGroupName]="j">
                          <ion-row>
                              <ion-col no-padding width-47>
                                <ion-item>
                                  <ion-label *ngIf="child.value.type !== null" floating>{{child.value.type}}</ion-label>
                                  <ion-label *ngIf="child.value.type == null" floating>Name</ion-label>
                                  <ion-input type="text" formControlName="namevalue"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col no-padding width-40>
                                <ion-item>
                                  <ion-label floating>For</ion-label>
                                  <ion-input type="text" formControlName="indication"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col class="columnAlign" no-padding width-10>
                                  <button ion-button block class="form-action-button"  type="button" (click)="updateTreatment(i, j)">
                                    <ion-icon name="medical"></ion-icon>
                                  </button>
                              </ion-col>
                            </ion-row>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card>
            <ion-card class="sample-form">
                <ion-row>
                  <ion-col no-padding width-87>
                    <h2 class = "section-title" >Preventative/Treatment</h2>
                  </ion-col>
                  <ion-col class="columnAlign" no-padding width-10>
                      <button ion-button block class="form-action-button-top"  type="button" (click)="presentOutcome($event)">
                        <ion-icon name="add"></ion-icon>
                      </button>
                  </ion-col>
                </ion-row>
                <div formArrayName="outcomes" *ngFor="let info of card_formPost.get('outcomes').controls; let i = index;">
                  <div [formGroupName]="i">
                    <ion-row>
                      <ion-col no-padding width-87>
                        <ion-item>
                          <ion-label *ngIf="info.value.type !== null" floating>{{info.value.type}}</ion-label>
                          <ion-label *ngIf="info.value.type == null" floating>Outcome {{ i + 1 }}</ion-label>
                          <ion-input type="text" formControlName="namevalue"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col class="columnAlign" no-padding width-10>
                          <button ion-button block class="form-action-button"  type="button" (click)="updateOutcome(i)">
                            <ion-icon name="share-alt"></ion-icon>
                          </button>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </ion-card>
              <ion-card  class="sample-form">
                <ion-row>
                  <ion-col no-padding width-68>
                    <h2 class = "section-title" >Guidance</h2>
                  </ion-col>
                  <ion-col class="columnAlign" no-padding width-10>
                    <button ion-button block class="form-action-button-top"  type="button" (click)="addTodoPost()">
                      <ion-icon name="add"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
                <div formArrayName="todopost" *ngFor="let info of card_formPost.get('todopost').controls; let i = index;">
                  <ion-row [formGroupName]="i">
                    <ion-col class="columnAlignLeft" no-padding width-5>
                      <ion-checkbox formControlName="completedflag" (click)="setCheckedPost(i)"></ion-checkbox>
                    </ion-col>
                    <ion-col class="columnAlignLeft2" no-padding width-40>
                      <ion-item  text-wrap>
                        <ion-label floating>Task {{ i + 1 }}</ion-label>
                        <ion-input type="text" formControlName="taskname" (ionBlur)="syncTaskNamePost(i)" [disabled]="isCompletePost(i)"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col no-padding width-40>
                      <ion-item text-wrap>
                        <ion-label floating>Task Date</ion-label>
                        <ion-datetime displayFormat="MMM DD hh:mm A" formControlName="duedate" (ionBlur)="syncDueDatePost(i)" [disabled]="isCompletePost(i)"></ion-datetime>
                      </ion-item>
                    </ion-col>
                    <ion-col class="columnInline" no-padding width-10 *ngIf="curRec.recordid !==null">
                      <button ion-button block class="form-action-button"  type="button" (click)="checkReminderPost(i)" [disabled]="isCompletePost(i) || pastDuePost(i) || notReadyPost(i)">
                        <ion-icon name="alarm"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
              <ion-card class="sample-form">
                  <ion-row>
                    <ion-col no-padding width-87>
                      <h2 class = "section-title" >Payment</h2>
                    </ion-col>
                    <ion-col class="columnAlign" no-padding width-10>
                        <button ion-button block class="form-action-button-top"  type="button" (click)="addNewPayment()">
                          <ion-icon name="add"></ion-icon>
                        </button>
                    </ion-col>
                  </ion-row>
                  <div formArrayName="payments" *ngFor="let info of card_formPost.get('payments').controls; let i = index;">
                    <div [formGroupName]="i">
                      <ion-row>
                        <ion-col no-padding width-30>
                          <ion-item>
                            <ion-label floating>Amnt {{ i + 1 }}</ion-label>
                            <ion-input type="text" formControlName="payment"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col no-padding width-59>
                          <ion-item>
                            <ion-label floating>For</ion-label>
                            <ion-input type="text" formControlName="paymentdescription"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col class="columnAlign" no-padding width-10>
                            <button ion-button block class="form-action-button"  type="button" (click)="updateOutcome(i)">
                              <ion-icon name="share-alt"></ion-icon>
                            </button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
              </ion-card>
              <section class="form-section">
                <ion-row no-padding class="multi-input-row">
                  <ion-col class="columnInline" no-padding width-50>
                    <button ion-button block class="form-action-button" type="button" (click)="savePostRecord()" [disabled]="!card_formPost.dirty || curRec.recordid==null">Save</button>
                  </ion-col>
                </ion-row>
              </section>
            </div>
        </div>
    </div>
</ion-content>
