<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>{{ feed.category.title }}</span>
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <ion-item-sliding *ngFor="let item of list2;let i=index;">
        <ion-item class="list-item" >
          <ion-row no-padding class="content-row one-line">
            <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
            <ion-col no-padding width-100 class="item-content" >
              <h3 class="item-title" *ngIf="item.days_met >=curRec.daysperweekvalue">Week {{shortDate(item.week_start)}}-{{shortEndDate(item.week_start, item.week_end)}}
                <img src="assets/images/trophy.jpg" alt="" style="width:40px;height:25px;">
              </h3>
              <h3 class="item-title" *ngIf="item.days_met<curRec.daysperweekvalue">Week {{shortDate(item.week_start)}}-{{shortEndDate(item.week_start, item.week_end)}}</h3>
              <p class = "item-description">Days Met: {{item.days_met}}</p><br/>
              <div  *ngFor="let day of list2[i].days;let j=index;" >
                <div class = "item-description" *ngIf="day.daily_goal_met=='Y'">
                  <img [src]="thumbsUp" alt="" style="width:15px;height:15px;">{{day.day}}: Total - {{day.total}}
                </div>
                <div class = "item-description" *ngIf="day.daily_goal_met!=='Y'">
                  <img [src]="whiteBox" alt="" style="width:15px;height:15px;">{{day.day}}: Total - {{day.total}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left" *ngIf="!notCurrent(i)">
            <button ion-button color="secondary" (click)="addToday(item)">
                <ion-icon name="medal"></ion-icon>
                Add Today
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
