<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span  class="intro-text" text-wrap>Academy Items</span>
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2;let i=index;" (click)="openRecord(i)">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col *ngIf="item.readflag=='N'" no-padding width-90 class="item-content" >
            <b><h3 class="item-title">{{item.subject}}</h3></b>
            <b><p class = "item-description">Category: {{item.category}}</p></b>
            <b><p class = "item-description">{{formatTime(item.createddate)}}</p></b>
          </ion-col>
          <ion-col *ngIf="item.readflag=='Y'" no-padding width-90 class="item-content" >
            <h3 class="item-title">{{item.subject}}</h3>
            <p class = "item-description">Category: {{item.category}}</p>
            <p class = "item-description">{{formatTime(item.createddate)}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>
</ion-content>
