<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>{{ feed.category.title }}</span>
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="getFilterPane()">
          <ion-icon name='funnel'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-toolbar *ngIf="this.show">
      <form (ngSubmit)="runSearch()">
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" placeholder="Filter by category, restaurant, or dish"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let item of items; let idx = index" (click)="searchListTerm(idx)">
              {{item.name}}
          </ion-item>
      </ion-list>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
     </form>
    </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2.items;let i=index;" (click)="openRecord(i)">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-25 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:16, h:9}" [src]="item.imageURL" alt="No Image"></preload-image>
          </ion-col>
          <ion-col no-padding width-65 class="item-content" >
            <h3 class="item-title">{{item.name}}</h3>
            <h3 class="item-title">from {{item.restaurantname}}</h3>
            <p class="item-description">Cost: ${{item.cost}}      Calories: {{item.calories}} </p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <p class="section-tips"  *ngIf="noData">Your search yielded no results.  If needed, you can adjust your food and diet preferences at
      <b>About Me --> Food Preferences.</b><br><br><b>LogosHealth Alexa Skill Tip: </b><br>
      Say "Order a Meal" to find meals for your lifestyle without setting down the baby.
    </p>
    <p class="section-tips"  *ngIf="badAddress"><b>Key Benefits:</b><br> Conveniently find meals which fit your lifestyle!<br><br>
      To get started, you must at minimum enter your <b>full address</b> at
      <b>About Me --> Profile.</b><br><br>You can then also customize your taste and nutrition options at <b>About Me --> Food Preferences</b><br><br>
      <b>LogosHealth Alexa Skill Tip:</b><br>Say "Order a Meal" to find meals for your lifestyle without setting down the baby.
    </p>
  </div>
</ion-content>
