<ion-header>
  <ion-navbar>
    <ion-title>Labs Form</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="attachRecord()">
        <ion-icon name='attach'></ion-icon>
      </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="confirmRecord()">
        <section class="form-section">
          <h2 class="section-title" *ngIf="newRec">New Lab Record</h2>
          <h2 class="section-title" *ngIf="!newRec">{{ formatDateTimeTitle(curRec.dateofmeasure) }}</h2>
          <ion-row class="row-standard">
            <ion-col>
              <ion-item>
                <ion-label floating>Lab Test Name</ion-label>
                <ion-select formControlName="labname">
                  <ion-option *ngFor="let lab of labsList;let i=index;" (ionSelect)="labNameChange(lab, i)" [value]="lab.recordid" [disabled]="!newRec || isSpecificLabForm">{{lab.dictionarycode}}</ion-option>
              </ion-select>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="row-standard">
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Result</ion-label>
                <ion-input type="text" formControlName="labresult"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50  *ngIf="unitList !== undefined">
                <ion-item>
                    <ion-label floating>Unit</ion-label>
                    <ion-select formControlName="labunit">
                      <ion-option *ngFor="let unit of unitList"(ionSelect)="labUnitChange(unit)" [value]="unit.recordid">{{unit.dictionarycode}}</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="unitList == undefined">
                <ion-item>
                  <ion-label floating>Unit</ion-label>
                  <ion-input type="text" formControlName="labunittext"></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="row-standard">
              <ion-col no-padding width-50>
                  <ion-item>
                      <ion-label floating>Lower Range</ion-label>
                      <ion-input type="text" formControlName="lowerrange"></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col no-padding width-50>
                <ion-item>
                  <ion-label floating>Upper Range</ion-label>
                  <ion-input type="text" formControlName="upperrange"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-row class="row-standard">
            <ion-col no-padding *ngIf="!newRec">
              <ion-item>
                <ion-label floating>Date of Measure</ion-label>
                <ion-input type="text" formControlName="dateofmeasure" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Date of Measure</ion-label>
                <ion-datetime displayFormat="DDD MMM DD 'YY" [min]="1900-01-01" [max]="today()" formControlName="dateofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Time of Measure</ion-label>
                <ion-datetime displayFormat="hh:mm A" [min]="1900-01-01" [max]="today()" formControlName="timeofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </section>
        <section class="form-section">
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="saveRecord()" [disabled]="!card_form.dirty">Save</button>
          </ion-col>
          <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()">Delete</button>
          </ion-col>
         </ion-row>
         <p class="section-tips" *ngIf="showTips && isSpecificLabForm"><b>LogosHealth Alexa Skill Tip:</b><br><br>Say <i>"My blood glucose is 100"</i> for easy data entry.</p>
         <p class="section-tips" *ngIf="showTips && !isSpecificLabForm"><b>LogosHealth Alexa Skill Tip:</b><br><br>Choose "Lab" or "Lab Panel" from the main menu for easy data entry.</p>
      </section>
      </form>
    </div>
</ion-content>
