<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>{{ feed.category.title }}</span>
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="addNew()">
          <ion-icon name='add'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2.items;let i=index;" (click)="openRecord(i)">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-90 class="item-content" >
            <h3 class="item-title">{{item.exercisetype}}</h3>
            <p class = "item-description">{{formatDateTime(item.dateofmeasure)}}</p>
            <p class = "item-description" *ngIf="item.exercisetime !== null">Exercise Time: {{item.exercisetime}}</p>
            <p class = "item-description" *ngIf="item.caloriesburned !== null">Calories Burned: {{item.caloriesburned}}</p>
            <p class = "item-description" *ngIf="item.reps !== null">Reps: {{item.reps}}</p>
            <p class = "item-description" *ngIf="item.distance !== null">Distance: {{item.distance}}</p>
            <p class = "item-description" *ngIf="item.goalname !== null">Goal Name: {{item.goalname}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <p class="section-tips"  *ngIf="noData">To get started, use the + icon above to add a Fitness record.<br><br>
      <b>LogosHealth Alexa Skill Tips:</b><br> You can add Fitness records by saying "Exercise" at the main menu.<br><br>
      For many fitness goals, you can simply speak to track progress.  For instance, if you've set a daily goal called 'push-ups', you can say "I did 100 push-ups" for easy data entry.
    </p>
  </div>
</ion-content>
