// Common list styles can be found in "./common.styles/layouts/lists"
ListExercisePage {
	ion-header {
		@include header-styles(color($colors, walkthrough, base), color($colors, walkthrough, contrast));
	}

	.list-mini-content
	{
		background-color: color($colors, background, base);

		.list-mini
		{
			.section-title
			{
				font-size: 1.8rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: center;
				color: $theme-color-1;
				font-weight: 800;
        //margin-top: 14px;
        //font-weight: bold;
				margin: 0px;
			}

			.section-title-tips
			{
				font-size: 1.8rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: center;
				color: $theme-color-1;
				font-weight: 800;
        //margin-top: 14px;
        //font-weight: bold;
        margin-left: 10px;
        margin-top: -5px;
			}

			.section-tips
			{
				font-size: 1.4rem;
				line-height: 1.2;
				letter-spacing: 1.1px;
				text-align: center;
				color: $theme-color-1;
				font-weight: 400;
        margin-top: 20px;
        margin-left: 7px;
        margin-right: 7px;
				//margin: 2px;
				border-style: ridge;
				border-width: 2px;
				border-color: $theme-color-1;
				padding: 5px;
			}

		  @include layout-list-styles($theme-color-1, $white-d);
			ion-list {
				.list-item
				{
					.content-row
					{
						.title-notconfirmed{
							color: $theme-color-1;
							font-size: 1.6rem;
							font-weight: 500;
							letter-spacing: 0.2px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
              //font-weight: bold;
						}

						&.one-line
						{
							@include align-items(center);

							.item-description
							{
                color: $black-d;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}
