<ion-header>
  <ion-navbar>
    <ion-title>Task Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <section class="form-section">
          <h2 class = "section-title" *ngIf="!newRec">{{ card_form.get('taskname').value }}</h2>
          <h2 class = "section-title" *ngIf="newRec">Task</h2>

          <ion-row *ngIf="newRec" class="row-standard">
            <ion-col no-padding>
              <ion-item>
                <ion-label floating>Task Name</ion-label>
                <ion-input type="text" formControlName="taskname"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!upcoming" class="row-standard">
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Task Time</ion-label>
                <ion-input type="text" formControlName="tasktime"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
                <ion-item>
                  <ion-label floating>Reps</ion-label>
                  <ion-input type="number" formControlName="reps"></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!upcoming" class="row-standard">
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Goal Name</ion-label>
                <ion-input type="text" formControlName="goalname" [disabled]="goalname !=='' &&  newRec"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="!newRec">
                <ion-item>
                  <ion-label floating>Date of Measure</ion-label>
                  <ion-input type="text" formControlName="dateofmeasure" [disabled]="true"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Date of Measure</ion-label>
                <ion-datetime displayFormat="DDD MMM DD YY" [min]="1900-01-01" [max]="today()"  formControlName="dateofmeasure" ></ion-datetime>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="upcoming" class="row-standard">
          <ion-item>
            <ion-label floating>Objective</ion-label>
            <ion-textarea type="text" formControlName="shortdescription" autosize></ion-textarea>
          </ion-item>
        </ion-row>
        <ion-row class="row-standard">
          <ion-col no-padding>
            <ion-item>
              <ion-label floating>Directions</ion-label>
              <ion-textarea type="text" formControlName="description" autosize></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="upcoming" class="row-standard">
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Due Date</ion-label>
              <ion-datetime displayFormat="DDD MMM DD YY" [min]="today()" max="2024"  formControlName="duedate" ></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col class="columnAlignLow" width-50>
            <ion-label class="section-checkbox-label">Completed
              <ion-checkbox formControlName="completed" ></ion-checkbox>
            </ion-label>
          </ion-col>
        </ion-row>
        </section>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="!card_form.dirty || !card_form.valid">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
         </ion-row>
         <p class="section-tips" *ngIf="showTips"><b>LogosHealth Alexa Skill Tip:</b><br>For tasks which meet a goal, you can speak to track progress.
          For instance, if you've set a 60-minute daily goal called 'piano', you can say "I did 'piano' for 60 minutes" for easy data entry.
         </p>
         </section>
      </form>
    </div>
</ion-content>
