<ion-header>
  <ion-navbar>
    <ion-title><span  class="intro-text" text-wrap>{{ visitType }} ☛</span></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="flipSearch()">
        <ion-icon name='switch'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <ion-item-sliding class="list-item" *ngFor="let item of list2.items;let i=index;">
        <ion-item  (click)="openRecord(i)">
          <ion-row no-padding class="content-row one-line">
            <ion-col no-padding width-20 class="item-avatar">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="item.imageURL" [title]="item.firstname"></preload-image>
            </ion-col>
            <ion-col no-padding width-70 class="item-content" >
              <h3 class="{{item.recordid !==null ? 'item-title' : 'title-notconfirmed'}}" text-wrap>{{item.reason}}</h3>
              <p class = "item-description">{{formatDateTime(item.visitdate, item.recordid)}}</p>
              <p class = "item-description" text-wrap>{{item.physician.title}}</p>
            </ion-col>
            <ion-col no-padding width-10 class="item-icon">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
            <button ion-button color="secondary" (click)="callDoc(item.physician.phonenumber, i)">
                <ion-icon name="call"></ion-icon>Call
            </button>
            <button *ngIf="item.active == 'Y'" ion-button color="primary" (click)="getDirection(i)">
                <ion-icon name="car"></ion-icon>Go
            </button>
            <button ion-button color="secondary" (click)="itemAlert(i)">
                <ion-icon name="notifications"></ion-icon>Alert
            </button>
            <button ion-button color="primary" (click)="itemFilter(i)">
                <ion-icon name="funnel"></ion-icon>Filter
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <p class="section-tips"  *ngIf="noData && visitType=='Upcoming Visit'">Add your first visit by going to <b>Medical --> Medical Contacts</b>.  Swipe right ☛ on the contact to call and schedule visit.
      Once the visit is created, by can also swipe right ☛ for quick options.<br><br>
      Use the toggle button on the top right to toggle to your Past Visits.
    </p>
    <p class="section-tips"  *ngIf="noData && visitType=='Past Visit'">Add your first visit by going to <b>Medical --> Medical Contacts</b>.  Swipe right ☛ on the contact to call and schedule visit.
      Once the visit is created, by can also swipe right ☛ for quick options.<br><br>
      Use the toggle button on the top right to toggle to your Upcoming Visits.
    </p>
  </div>
</ion-content>
