// Basic
@import "./common/scroll-bar";
@import "./common/grid";
@import "./common/misc/shadow";
@import "./common/misc/multi-line-ellipsis";

// Elements
@import "./common/components/components";
@import "./common/inputs/inputs";
@import "./common/buttons/buttons";
@import "./common/side-menu";
@import "./common/header";
@import "./common/lists";
@import "./common/cards";

// Views
@import "./common/auth/auth";
@import "./common/legal/legal";
@import "./common/layouts/lists";

.ios input[disabled]{
  -webkit-text-fill-color: rgba(175, 175, 175, 0.65);
  //-webkit-text-fill-color: currentcolor;
  -webkit-opacity: 0.65;
  opacity:0.65;
  background: white;
}

.ios .toolbar-title {
  text-align: left;
}
