<ion-header>
  <ion-navbar>
    <ion-title>Exercise Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <section class="form-section">
          <h2 class = "section-title" *ngIf="!newRec">{{ formatDateTimeTitle(curRec.dateofmeasure) }}</h2>
          <h2 class = "section-title" *ngIf="newRec">New Exercise Record</h2>
          <ion-row *ngIf="!noGoals">
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Exercise Type</ion-label>
                <ion-input type="text" formControlName="exercisetype"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Goal Name</ion-label>
                <ion-select formControlName="goalname" [disabled]="goalname !=='' &&  newRec">
                  <ion-option *ngFor="let item of list2.items" [value]="item.goalname">{{item.goalname}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="noGoals">
            <ion-item>
              <ion-label floating>Exercise Type</ion-label>
              <ion-input type="text" formControlName="exercisetype"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Exercise Time</ion-label>
                <ion-input type="text" formControlName="exercisetime"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Calories Burned</ion-label>
                <ion-input type="number" formControlName="caloriesburnedvalue"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Reps</ion-label>
                <ion-input type="number" formControlName="reps"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Distance</ion-label>
                <ion-input type="text" formControlName="distance"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding *ngIf="!newRec">
              <ion-item>
                <ion-label floating>Date of Measure</ion-label>
                <ion-input type="text" formControlName="dateofmeasure" [disabled]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Date of Measure</ion-label>
                <ion-datetime displayFormat="DDD MMM DD 'YY" [min]="1900-01-01" [max]="today()" formControlName="dateofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Time of Measure</ion-label>
                <ion-datetime displayFormat="hh:mm A" [min]="1900-01-01" [max]="today()" formControlName="timeofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </section>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="!(card_form.dirty && card_form.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
         </ion-row>
         <p class="section-tips" *ngIf="showTips"><b>LogosHealth Alexa Skill Tips:</b><br> You can add Fitness records by saying "Exercise" at the main menu.<br><br>
          For many fitness goals, you can simply speak to track progress.  For instance, if you've set a daily goal called 'push-ups', you can say "I did 100 push-ups" for easy data entry.
        </p>
      </section>
      </form>
    </div>
</ion-content>
