<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>{{ feed.category.title }}</span>
      </ion-title>
      <ion-buttons right>
        <button  *ngIf="!isSelectRelated" ion-button icon-only (click)="addNew()">
          <ion-icon name='add'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2.items;let i=index;" (click)="openRecord(i)">
        <ion-row no-padding class="content-row one-line" *ngIf="item.schedules.length > 0; else templateName">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-90 class="item-content" >
            <h3 class="item-title">{{item.name}}</h3>
            <div ion-item *ngFor="let sched of item.schedules">
              <p class="item-description">Dose: {{sched.interval}}</p>
              <p class="item-description" *ngIf="sched.agerangelow > 0 && sched.agerangelow !==sched.agerangehigh">Schedule: {{sched.agerangelow}} to {{sched.agerangehigh}} {{sched.agerangeunit}} </p>
              <p class="item-description" *ngIf="sched.agerangelow > 0 && sched.agerangelow ==sched.agerangehigh">Schedule: {{sched.agerangelow}} {{sched.agerangeunit}} </p>
              <p class="item-description" *ngIf="sched.datereceived !== undefined && sched.datereceived !== null">Date: {{sched.datereceived}}</p>
              <p class="item-description" *ngIf="sched.contactid !== undefined && sched.contactid !== null">Physician: Dr. {{sched.lastname}}</p>
              <br>
            </div>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
        <ng-template #templateName>
          <ion-row no-padding class="content-row one-line">
            <ion-col no-padding width-90 class="item-content">
              <h3 class="{{item.confirmed=='Y' ? 'item-title' : 'title-notconfirmed'}}">{{item.name}}</h3>
            </ion-col>
            <ion-col no-padding width-10 class="item-icon">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ng-template>
      </button>
    </ion-list>
    <p class="section-tips"  *ngIf="noData">To get started, use the + icon above to add a Vaccine record.<br><br>
      <b>LogosHealth Alexa Skill Tip:</b><br> You can add Vaccine records by saying "Vaccine" at the main menu.
    </p>
  </div>
</ion-content>
