<ion-header>
  <ion-navbar>
    <ion-title>About Me</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="addNew()">
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>
 </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content"  [formGroup]="card_form" (ngSubmit)="confirmRecord()">
    <div class="forms-examples-segment">
        <form [formGroup]="card_form" class="sample-form">

          <ion-card class="form-section">
            <h2 class="section-title-center">Profile Information</h2>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>First Name*</ion-label>
                    <ion-input type="text" formControlName="firstname"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Last Name*</ion-label>
                    <ion-input type="text" formControlName="lastname"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>SSN</ion-label>
                    <ion-input type="tel"  [textMask]="{mask: masks.ssn}" (keyup)="trimLastCharSSN()" formControlName="ssn"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Primary User</ion-label>
                    <ion-select formControlName="primaryflag" [disabled]="primary || !primaryEligible">
                      <ion-option class="section-title" (ionSelect)="confirmPrimaryChange()" value="Y">Yes</ion-option>
                      <ion-option class="section-title" value="N">No</ion-option>
                    </ion-select>
                </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col *ngIf="primary">
                    <ion-item>
                      <ion-label class="section-toggle">Hide Sample Profile</ion-label>
                      <ion-toggle item-start formControlName="hidesample"></ion-toggle>
                    </ion-item>
                  </ion-col>
              </ion-row>
              </ion-card>

              <ion-card>

                <ion-row>
                  <h2 class="section-title" >Contact Info</h2>
                </ion-row>

              <ion-row no-padding width-50 *ngIf="!primary">
                <ion-col>
                  <ion-item>
                    <ion-label floating>Address**</ion-label>
                    <ion-input type="text" formControlName="streetaddress"></ion-input>
                  </ion-item>
              </ion-col>
              <ion-col class="columnAlign" no-padding width-50>
                    <button ion-button block class="form-action-button-bottom2"  type="button"
                     (click)="copyAddress()">From {{getPrimaryName()}}</button>
                </ion-col>
              </ion-row>

              <ion-row no-padding  *ngIf="primary">
                  <ion-col>
                    <ion-item>
                      <ion-label floating>Address**</ion-label>
                      <ion-input type="text" formControlName="streetaddress"></ion-input>
                    </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>City**</ion-label>
                    <ion-input type="text" formControlName="city"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-25>
                  <ion-item>
                    <ion-label floating>State**</ion-label>
                    <ion-select formControlName="state">
                        <ion-option *ngFor="let state of stateList" [value]="state.recordid">{{state.codeddictionary}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-25>
                  <ion-item>
                    <ion-label floating>Zip**</ion-label>
                    <ion-input type="text"  maxlength="5" pattern="[0-9]{5}" formControlName="zipcode"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Phone Number</ion-label>
                    <ion-input type="tel" [textMask]="{mask: masks.phoneNumber}" (keyup)="trimLastCharPhone()" formControlName="phonenumber"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Timezone</ion-label>
                    <ion-input type="text" formControlName="timezone" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-card>
              <ion-row no-padding *ngIf="!primary">
                <ion-col class="columnAlign" no-padding width-50>
                  <h2 class="section-title" >Insurance</h2>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-47>
                    <button ion-button block class="form-action-button-top"  type="button"
                     (click)="copyInsurance()">From {{getPrimaryName()}}</button>
                </ion-col>
              </ion-row>
              <ion-row no-padding *ngIf="primary">
                <h2 class="section-title">Insurance</h2>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Insurance Name</ion-label>
                    <ion-input type="text" formControlName="insurancename"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Insurance Number</ion-label>
                    <ion-input type="text" formControlName="insurancenumber"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-card>
              <ion-row>
                <h2 class="section-title">Emergency Contact</h2>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label floating>Contact Name</ion-label>
                      <ion-input type="text" formControlName="emergencycontact"></ion-input>
                    </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Phone Number</ion-label>
                    <ion-input type="text" [textMask]="{mask: masks.phoneNumber}" (keyup)="trimLastCharEPhone()" formControlName="emergencycontactphone"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Relation</ion-label>
                    <ion-input type="text" formControlName="emergencycontactrelation"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>

            <ion-card>
              <ion-row>
                <h2 class="section-title">Physical Information</h2>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50 *ngIf="!primary">
                  <ion-item>
                    <ion-label floating>Relation to Primary*</ion-label>
                    <ion-select formControlName="relationtoprimary">
                        <ion-option *ngFor="let relation of relationList" (ionSelect)="relationChange(relation)" [value]="relation.recordid">{{relation.dictionarycode}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-25 *ngIf="!primary">
                  <ion-item>
                    <ion-label floating>Consent</ion-label>
                    <ion-select formControlName="medicalconsent">
                      <ion-option class="section-title" value="Y">Yes</ion-option>
                      <ion-option class="section-title" value="N">No</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-25 *ngIf="isChild">
                  <ion-item>
                    <ion-label floating>Adopted</ion-label>
                    <ion-select formControlName="biologicalparent">
                      <ion-option class="section-title" value="N">Yes</ion-option>
                      <ion-option class="section-title" value="Y">No</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="isPet">
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Species</ion-label>
                    <ion-select formControlName="species">
                      <ion-option *ngFor="let species of speciesList" [value]="species.recordid">{{species.dictionarycode}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Breed</ion-label>
                    <ion-input type="text" formControlName="breed"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Birthdate*</ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" [min]="1900-01-01" [max]="today()" (ionChange)="changeBDay()" formControlName="birthdate" ></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Age</ion-label>
                    <ion-input type="text" formControlName="age" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-25>
                  <ion-item>
                    <ion-label floating>Feet</ion-label>
                    <ion-input type="number" formControlName="heightfeet"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-25>
                  <ion-item>
                    <ion-label floating>Inches</ion-label>
                    <ion-input type="number" formControlName="heightinches"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Latest Weight</ion-label>
                    <ion-input type="number" formControlName="weight"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Gender</ion-label>
                    <ion-select formControlName="gender">
                        <ion-option *ngFor="let gender of genderList" [value]="gender.recordid">{{gender.dictionarycode}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Blood Type</ion-label>
                    <ion-select formControlName="bloodtype">
                        <ion-option *ngFor="let bt of bloodTypeList" [value]="bt.recordid">{{bt.dictionarycode}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!isPet">
                <ion-col>
                  <ion-item>
                    <ion-label floating>Ethnicity</ion-label>
                    <ion-select formControlName="ethnicity">
                        <ion-option *ngFor="let eth of ethnicityList" [value]="eth.recordid">{{eth.dictionarycode}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <div  *ngIf="!isPet" >
                <div formArrayName="races" *ngFor="let race of card_form.get('races').controls; let i = index;">
                  <ion-row [formGroupName]="i" *ngIf="i==0">
                    <ion-col no-padding width-87 class="columnAlignTypes">
                      <ion-item text-wrap>
                        <ion-label floating>Race</ion-label>
                        <ion-select formControlName="racecode">
                          <ion-option *ngFor="let r of raceList" [value]="r.recordid">{{r.dictionarycode}}</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                    <ion-col class="columnAlign" no-padding width-10>
                      <button ion-button block class="form-action-button"  type="button" (click)="addRace()">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                  <ion-row [formGroupName]="i" *ngIf="i>0">
                    <ion-col no-padding width-77 class="columnAlignTypes">
                      <ion-item text-wrap>
                        <ion-label floating>Race</ion-label>
                        <ion-select formControlName="racecode">
                          <ion-option *ngFor="let r of raceList" [value]="r.recordid">{{r.dictionarycode}}</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                    <ion-col class="columnAlign" no-padding width-10>
                      <button ion-button block class="form-action-button"  type="button" (click)="addRace()">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col class="columnAlign" no-padding width-10>
                      <button ion-button block class="form-action-button"  type="button" (click)="addRace()">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-card>

            <ion-card>
              <ion-row>
                <h2 class = "section-title" *ngIf="!isPet">Vision</h2>
              </ion-row>
              <ion-row *ngIf="!isPet">
                <ion-col>
                  <ion-item>
                    <ion-label floating>Visual Acuity</ion-label>
                    <ion-input type="text" formControlName="vision"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!isPet">
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>OS (left eye)</ion-label>
                    <ion-input type="text" formControlName="visionos"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>OD (right eye)</ion-label>
                    <ion-input type="text" formControlName="visionod"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

            <p class="section-footnote">*Required to Save Profile</p>
            <p class="section-footnote">**Required to Confirm Profile and for Order a Meal capability</p>
            </ion-card>

          <section class="form-section">
            <ion-row no-padding class="multi-input-row">
              <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="button" (click)="saveRecord()" [disabled]="checkSaveEnabled()">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="primary || newUser">Inactivate</button>
            </ion-col>
           </ion-row>
           <br>
          </section>
        </form>
      </div>
  </ion-content>
