walkthrough-page {
	.walkthrough-header
	{
		@include header-styles(color($colors, walkthrough-header, base), color($colors, walkthrough-header, contrast));
	}

	.walkthrough-content
	{
		// Default background when bouncing isn't disabled
		background-color: color($colors, walkthrough, base);

		ion-slide:nth-child(odd)
		{
			background-color: color($colors, walkthrough, base);
			color: color($colors, walkthrough, contrast);
		}

		ion-slides {

			ion-slide {
				@include align-items(flex-start);
			}

			.intro-image-row
			{
				@include justify-content(center);
				margin-top: 20px;
				//margin-top: 16vh;
			}

			.main-title
			{
				margin: 35px 20px 20px;
				font-size: 3.4rem;
				font-weight: 900;
				font-family: "Myanmar Text";
				//font-style: italic;
				text-align: center;
				color: $white;
			}

			.intro-text
			{
				margin: 0px 20%;
				font-size: 1.9rem;
				font-family: "Myanmar Text";
				line-height: 1.35;
				text-align: center;
				color: $white;
			}
			.footer
			{
				@include align-items(flex-end);
        //left: 0%;
        //position:relative;
        //margin-top:0%;
        //position:absolute;
        //bottom:0;
		  }
    }
	}
}
