<ion-header>
  <ion-navbar>
    <ion-title>Weight Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <section class="form-section">
          <h2 class = "section-title" *ngIf="!newRec">Dose for {{ treatment.namevalue }}</h2>
          <h2 class = "section-title" *ngIf="newRec">New Dose for {{ treatment.namevalue }}</h2>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating>Dose Date</ion-label>
                <ion-datetime displayFormat="MMM-DD-YY hh:mm a" [min]="1900-01-01" [max]="today()" formControlName="dosedate" [disabled]="isPassive"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Amount</ion-label>
                <ion-input type="number" formControlName="amount" [disabled]="isPassive"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Unit</ion-label>
                <ion-input type="text" formControlName="unit"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating>Tracking Type</ion-label>
                <ion-input type="text" formControlName="type"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

        </section>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="!(card_form.dirty && card_form.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
         </ion-row>
        </section>
      </form>
    </div>
</ion-content>
