<ion-header>
  <ion-navbar>
    <ion-title>Symptom Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">

    <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">

        <ion-card class="sample-form">
          <h2 class = "section-title-center" *ngIf="newRec">New Symptom Record</h2>
          <h2 class = "section-title-center" *ngIf="!newRec">{{ formatDateTimeTitle(curRec.dateofmeasure) }}</h2>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating>Symptom</ion-label>
                <ion-input type="text" formControlName="symptom"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-textarea type="text" formControlName="symptomdescription" autosize></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding *ngIf="!newRec">
                <ion-item>
                  <ion-label floating>Start Date/Time</ion-label>
                  <ion-input type="text" formControlName="dateofmeasure" [disabled]="true"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Start Date</ion-label>
                <ion-datetime displayFormat="DDD MMM DD 'YY" [min]="1900-01-01" [max]="today()" formControlName="dateofmeasure" ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <ion-item>
                <ion-label floating>Start Time</ion-label>
                <ion-datetime displayFormat="hh:mm A" [min]="1900-01-01" [max]="today()" formControlName="starttime" ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>End Date</ion-label>
                <ion-datetime displayFormat="DDD MMM DD 'YY" [min]="1900-01-01" [max]="today()" formControlName="enddate" ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>End Time</ion-label>
                <ion-datetime displayFormat="hh:mm A" [min]="1900-01-01" [max]="today()" [disabled]="!hasEndDate()" formControlName="endtime" ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Caused By</ion-label>
              <ion-input type="text" formControlName="medicalevent"></ion-input>
            </ion-item>
          </ion-row>
        </ion-card>

        <ion-card>
          <ion-row>
            <ion-col no-padding width-67>
              <h2 class = "section-title">Treatments</h2>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="addFromCabinet()" [disabled]="noSymptom()">
                <ion-icon name="medkit"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
                <button ion-button block class="form-action-button-top"  type="button" (click)="presentPopover($event)" [disabled]="noSymptom()">
                  <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="viewAllTreatments()">
                <ion-icon name="paper"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <div formArrayName="treatments" *ngFor="let info of card_form.get('treatments').controls; let i = index;">
            <div [formGroupName]="i">
              <ion-row *ngIf="!isActiveDoseTrackedMed(i)">
                <ion-col no-padding width-87>
                  <ion-item>
                    <ion-label floating>Treatment {{ i + 1 }}</ion-label>
                    <ion-input type="text" formControlName="namevalue"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" (click)="updateSymptomTreatment(i)" [disabled]="noSymptom()">
                    <ion-icon name="medical"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="isActiveDoseTrackedMed(i)">
                <ion-col no-padding width-77>
                  <ion-item>
                    <ion-label floating>Treatment {{ i + 1 }}</ion-label>
                    <ion-input type="text" formControlName="namevalue"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" (click)="addDose(i)" [disabled]="noSymptom()">
                    <ion-icon name="pint"></ion-icon>
                  </button>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" (click)="updateSymptomTreatment(i)" [disabled]="noSymptom()">
                    <ion-icon name="medical"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>


            </div>
          </div>
        </ion-card>

        <section class="form-section">
        </section>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="!(card_form.dirty && card_form.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
         </ion-row>
         <p class="section-tips" *ngIf="showTips"><b>LogosHealth Alexa Skill Tips:</b><br><br>Say <i>"I have a sore throat"</i> for easy data entry.</p>
      </section>
      </form>
    </div>
</ion-content>
