<ion-header>
  <ion-navbar>
    <ion-title>Dose Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
  <div class="card-example-view">
      <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="saveRecord()">

        <ion-card class="form-section">
          <ion-row>
            <p class="section-title">Medication: {{medication.medicationname}}</p>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-90>
              <ion-item>
                <ion-label floating>Start Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY hh:mm a"  formControlName="startdate" minuteValues="0,15,30,45"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mode == 'cabinet'">
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Current</ion-label>
                <ion-input type="text" formControlName="inventory"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Starting</ion-label>
                <ion-input type="text" formControlName="startinginventory"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-37>
              <ion-item>
                <ion-label floating>Units</ion-label>
                <ion-select formControlName="inventoryunit" [disabled]="isDisabled">
                  <ion-option class="section-title" value="pills">Pills</ion-option>
                  <ion-option class="section-title" value="mL">mL</ion-option>
                  <ion-option class="section-title" value="units">Units</ion-option>
                  <ion-option class="section-title" value="sprays">Sprays</ion-option>
                  <ion-option class="section-title" value="inhales">Inhales</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Dosage</ion-label>
                <ion-input type="number" formControlName="dosage"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Dose Units</ion-label>
                <ion-select formControlName="doseunits"  [disabled]="isDisabled">
                  <ion-option class="section-title" value="pills">Pills</ion-option>
                  <ion-option class="section-title" value="mL">mL</ion-option>
                  <ion-option class="section-title" value="units">Units</ion-option>
                  <ion-option class="section-title" value="sprays">Sprays</ion-option>
                  <ion-option class="section-title" value="inhales">Inhales</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Dose Frequency</ion-label>
                <ion-select formControlName="dosefrequency">
                  <ion-option class="section-title" value="As Needed">As Needed</ion-option>
                  <ion-option class="section-title" value="Once Daily">Once Daily</ion-option>
                  <ion-option class="section-title" value="Twice Daily">Twice Daily</ion-option>
                  <ion-option class="section-title" value="Every 8 Hours">Every 8 Hours</ion-option>
                  <ion-option class="section-title" value="Every 6 Hours">Every 6 Hours</ion-option>
                  <ion-option class="section-title" value="Every 4 Hours">Every 4 Hours</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mode == 'cabinet'">
            <ion-col no-padding width-90>
              <ion-item>
                <ion-label floating>Projected End Date</ion-label>
                <ion-input type="text" formControlName="projectedenddate"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="form-section">
          <ion-row>
            <ion-col no-padding width-87>
              <h2 class = "section-title">Schedule:</h2>
            </ion-col>
          </ion-row>
          <div formArrayName="times" *ngFor="let info of card_form.get('times').controls; let i = index;">
            <div [formGroupName]="i">
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Dose Number</ion-label>
                    <ion-input type="number" formControlName="dosenumber"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>Dose Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="dosetime" minuteValues="0,15,30,45"  [disabled]="medCompleted"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <br>
          <ion-row>
            <ion-col no-padding width-90>
              <ion-item>
                <ion-label floating>Dose Tracking Type</ion-label>
                <ion-select formControlName="dosetrackingtype" [disabled]="medCompleted">
                  <ion-option class="section-title" value="passive">Passive</ion-option>
                  <ion-option class="section-title" value="active">Active</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-50>
              <ion-label class="section-checkbox-label">Notify
                <ion-checkbox formControlName="isnotify" (click)="checkNotify()" [disabled]="medCompleted || isActiveMode"></ion-checkbox>
              </ion-label>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Min before dose</ion-label>
                <ion-input type="number" formControlName="notifyoffset" [disabled]="medCompleted" [min]="0" [max]="10"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-90>
              <ion-item>
                <ion-label floating>State</ion-label>
                <ion-select formControlName="dosetrackingstate" [disabled]="medCompleted">
                  <ion-option value="activated">Activated</ion-option>
                  <ion-option value="paused">Paused</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card *ngIf="isNotify">
          <h4 class="categories-title">Who gets notified</h4>
          <ion-scroll scrollX="true" class="horizontal-categories">
              <ion-row class="categories-row">
                <ion-col width-15 class="horizontal-item" formArrayName="profilesnotify" *ngFor="let pro of card_form.get('profilesnotify').controls; let i = index;">
                  <div [formGroupName]="i">
                    <label>
                      <input type="checkbox" formControlName="selected" [value]="pro.controls['selected'].value" (change)="readProfilesNotify()"/>
                      <img [src]="pro.controls['photopath'].value" [title]="pro.controls['firstname'].value" />
                    </label>
                  </div>
                </ion-col>
              </ion-row>
          </ion-scroll>
        </ion-card>

        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50 *ngIf="!newRec">
                <button ion-button block class="form-action-button" type="submit" [disabled]="saveNotReady()">Save</button>
            </ion-col>
            <ion-col no-padding width-50 *ngIf="newRec">
              <button ion-button block class="form-action-button" type="submit" [disabled]="saveNotReady()">Activate</button>
            </ion-col>

            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="leaveRecord()">Cancel</button>
            </ion-col>
         </ion-row>
        </section>
      </form>
    </div>
</ion-content>
