<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>{{ feed.category.title }}</span>
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="addNew()">
          <ion-icon name='add'></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="feed.category.title !== 'Medication History'" (click)="flipSearch()">
          <ion-icon name='switch'></ion-icon>
        </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2.items;let i=index;" (click)="openRecord(i)">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-90 class="item-content" >
            <h3 class="item-title">{{item.medicationname}}</h3>
            <p class = "item-description" *ngIf="feed.category.title == 'Medicine Cabinet'">Purchased: {{formatDateTime(item.purchasedate)}}</p>
            <p class = "item-description" *ngIf="feed.category.title == 'Medicine Cabinet'">Remaining: {{item.inventory}} {{item.inventoryunit}}</p>
            <p class = "item-description" *ngIf="feed.category.title !== 'Medicine Cabinet'">Start Date: {{formatDateTime2(item.startdate)}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <p class="section-tips"  *ngIf="noData && feed.category.title == 'Medication History'">To get started, use the + icon above to add a Medicine record.<br><br>
      <b>LogosHealth Alexa Skill Tip:</b><br> You can add Medicine records by saying "Medicine" at the main menu.<br><br>
      <b>LogosHealth Mobile App Tip:</b><br>The ⓘ provides information.  Click it for important details (try example below to view different drug tracking modes).
    </p>
    <p class="section-tips"  *ngIf="noData && feed.category.title == 'Current Medicine'">To get started, use the + icon above to add a Medicine record.<br><br>
      Use the toggle button on the top right to toggle to your Medicine Cabinet.<br><br>
      <b>LogosHealth Alexa Skill Tip:</b><br> You can add Medicine records by saying "Medicine" at the main menu.<br><br>
      <b>LogosHealth Mobile App Tip:</b><br>The ⓘ provides information.  Click it for important details (try example below to view different drug tracking modes).
    </p>
    <p class="section-tips"  *ngIf="noData && feed.category.title == 'Medicine Cabinet'">To get started, use the + icon above to add to your Medicine Cabinet.<br><br>
      Use the toggle button on the top right to toggle to your Current Medicine.<br><br>
      <b>LogosHealth Alexa Skill Tip:</b><br>Once a drug is in your cabinet, say <i>"I took ibuprofen for my headache"</i> for easy data entry.<br><br>
      <b>LogosHealth Mobile App Tip:</b><br>The ⓘ provides information.  Click it for important details (try example below to view different drug tracking modes).
    </p>
    <ion-row *ngIf="noData">
        <h2 class = "section-title" (click)="presentHelp(myEvent)">Tracking Modeⓘ</h2>
    </ion-row>
</div>
</ion-content>
