<ion-header>
  <ion-navbar>
    <ion-title>Medication Form</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="attachRecord()">
        <ion-icon name='attach'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
    <div class="forms-examples-segment">
      <form [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <ion-card class="sample-form">
          <h2 class = "section-title-center" *ngIf="!newRec">{{ curRec.medicationname }}</h2>
          <ion-row *ngIf="newRec">
            <ion-item>
              <ion-label floating>Medication</ion-label>
              <ion-input type="text" [(ngModel)]="eventTerm" [formControl]="medication" [disabled]="isDone"></ion-input>
            </ion-item>
            <ion-list *ngIf="showList()">
                <ion-item *ngFor="let item of items; let idx = index" (click)="searchListTerm(item.value)">
                    {{item.value}}
                </ion-item>
            </ion-list>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-87>
              <ion-item>
                <ion-label floating>Formulation</ion-label>
                <ion-input type="text" formControlName="formulation" [disabled]="isDone"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button"  type="button" (click)="callContact()">
                <ion-icon name="planet"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col width-50>
              <ion-item>
                <ion-label floating>Label Type</ion-label>
                <ion-select formControlName="type" [disabled]="isDone">
                  <ion-option class="section-title" value="OTC">OTC</ion-option>
                  <ion-option class="section-title" value="prescription">Prescription</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-37>
              <ion-item>
                <ion-label floating>Brand</ion-label>
                <ion-input type="text" formControlName="manufacturer" [disabled]="isDone"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button"  type="button" (click)="callContact()">
                <ion-icon name="call"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-item>
                <ion-label floating>Doctor/Pharmacist Instructions</ion-label>
                <ion-textarea type="text" formControlName="specialinstruction" autosize [disabled]="isDone"></ion-textarea>
              </ion-item>
          </ion-row>
          <ion-row>
              <h2 class = "section-title" (click)="presentHelp(myEvent)">Tracking Modeⓘ</h2>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Mode*</ion-label>
              <ion-select formControlName="mode" [disabled]="isDone">
                <ion-option class="section-title" value="basic" (ionSelect)="setMode('basic')" >Basic</ion-option>
                <ion-option class="section-title" value="cabinet" (ionSelect)="setMode('cabinet')">Medicine Cabinet</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row *ngIf="mode=='basic'">
            <ion-item>
              <ion-label floating>For</ion-label>
              <ion-input type="text" formControlName="verbatimindication" [disabled]="isDone"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row *ngIf="mode=='basic'">
            <ion-col no-padding width-60>
              <ion-item>
                <ion-label floating>Start Date</ion-label>
                <ion-datetime displayFormat="MMM-DD-YY hh:mm A"  formControlName="startdate" minuteValues="0,15,30,45" [disabled]="isDone"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-40>
              <ion-item>
                <ion-label floating>End Date</ion-label>
                <ion-datetime displayFormat="MMM-DD-YY" formControlName="enddate" [disabled]="isDone"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card  *ngIf="mode=='cabinet'" class="sample-form">
          <ion-row>
            <ion-col>
              <h2 class = "section-title" >Package Info</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Purchased</ion-label>
                <ion-datetime displayFormat="MMM-DD-YY" formControlName="purchasedate" [disabled]="isDone"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Expiration</ion-label>
                <ion-datetime displayFormat="MMM-DD-YY" formControlName="expiration" [disabled]="isDone"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Current</ion-label>
                <ion-input type="text" formControlName="inventory" [disabled]="isDone"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Starting</ion-label>
                <ion-input type="text" formControlName="startinginventory" [disabled]="isDone"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-37>
              <ion-item>
                <ion-label floating>Units</ion-label>
                <ion-select formControlName="inventoryunit" [disabled]="isDone">
                  <ion-option class="section-title" value="pills">Pills</ion-option>
                  <ion-option class="section-title" value="mL">mL</ion-option>
                  <ion-option class="section-title" value="units">Units</ion-option>
                  <ion-option class="section-title" value="sprays">Sprays</ion-option>
                  <ion-option class="section-title" value="inhales">Inhales</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label floating>Serial Number</ion-label>
              <ion-input type="text" formControlName="serialnumber" [disabled]="isDone"></ion-input>
            </ion-item>
          </ion-row>
        </ion-card>

        <ion-card  *ngIf="mode!==null" class="sample-form">
          <ion-row>
            <ion-col no-padding no-padding width-78>
              <h2 class = "section-title" >Dosing & Results</h2>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
                <button ion-button block class="form-action-button-top"  type="button" (click)="addNewTreatmentResults()" [disabled]="isDone">
                  <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="viewAllTreatmentResults()">
                <ion-icon name="paper"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

          <div formArrayName="treatmentresults" *ngFor="let info of card_form.get('treatmentresults').controls; let i = index;">
            <div [formGroupName]="i">
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>For</ion-label>
                    <ion-input type="text" formControlName="verbatimindication"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-37>
                  <ion-item>
                    <ion-label floating>Start</ion-label>
                    <ion-datetime displayFormat="MMM-DD-YY" formControlName="startdate"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" (click)="updateTreatmentResults(i)">
                    <ion-icon name="share-alt"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-card>
        <div class="sample-form">
          <p class="section-tips"  *ngIf="mode=='cabinet'"><b>Important: </b>In Medicine Cabinet mode, dosing information must be entered to activate treatment by this medication for this event/symptom.  Use the + icon above to add dose information as needed.</p>
        </div>
        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="(!card_form.dirty || !card_form.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec">Delete</button>
            </ion-col>
         </ion-row>
        </section>
      </form>
    </div>
</ion-content>
