<ion-header>
  <ion-navbar>
    <ion-title>Dosage & Results</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
    <div class="forms-examples-segment">
      <form [formGroup]="card_form" (ngSubmit)="saveRecord()">
        <ion-card class="sample-form">
          <h2 class = "section-title-center">{{ medication.medicationname }}</h2>
          <ion-row>
            <ion-item>
              <ion-label floating>Formulation</ion-label>
              <ion-input type="text" formControlName="formulation"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row  *ngIf="hasEventList==false">
            <ion-item>
              <ion-label floating>For</ion-label>
              <ion-input type="text" formControlName="verbatimindication" [disabled]="true"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row *ngIf="hasEventList==true">
            <ion-item>
              <ion-label floating>For*</ion-label>
              <ion-select formControlName="verbatimindication">
                <ion-option *ngFor="let item of eventList" (ionSelect)="setCurrentEvent(item)" [value]="item.name">{{item.name}} {{formatDate(item.startdate)}}</ion-option>
              </ion-select>
          </ion-item>
          </ion-row>



          <ion-row *ngIf="mode == 'cabinet'">
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Current</ion-label>
                <ion-input type="text" formControlName="inventory" [disabled]="medCompleted"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-30>
              <ion-item>
                <ion-label floating>Starting</ion-label>
                <ion-input type="text" formControlName="startinginventory" [disabled]="medCompleted"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-37>
              <ion-item>
                <ion-label floating>Units</ion-label>
                <ion-select formControlName="inventoryunit" [disabled]="medCompleted">
                  <ion-option class="section-title" value="pills">Pills</ion-option>
                  <ion-option class="section-title" value="mL">mL</ion-option>
                  <ion-option class="section-title" value="units">Units</ion-option>
                  <ion-option class="section-title" value="sprays">Sprays</ion-option>
                  <ion-option class="section-title" value="inhales">Inhales</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="sample-form">
          <ion-row>
            <ion-col>
              <h2 class = "section-title" >Dose Info</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-60>
              <ion-item>
                <ion-label floating>Start Date*</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="startdate" minuteValues="0,15,30,45" [disabled]="medCompleted"></ion-datetime>
              </ion-item>
              </ion-col>
              <ion-col no-padding width-40>
                <ion-item>
                  <ion-label floating>End Date</ion-label>
                  <ion-datetime displayFormat="MMM DD YYYY" formControlName="enddate" [disabled]="medCompleted"></ion-datetime>
                </ion-item>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Dosage**</ion-label>
                <ion-input type="number" formControlName="dosage" (ionBlur)="checkDoseValid()" [disabled]="medCompleted"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-50>
              <ion-item>
                <ion-label floating>Dose Units**</ion-label>
                <ion-select formControlName="doseunits" (ionBlur)="checkDoseValid()"  [disabled]="medCompleted">
                  <ion-option class="section-title" value="pills">Pills</ion-option>
                  <ion-option class="section-title" value="mL">mL</ion-option>
                  <ion-option class="section-title" value="units">Units</ion-option>
                  <ion-option class="section-title" value="sprays">Sprays</ion-option>
                  <ion-option class="section-title" value="inhales">Inhales</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Dose Frequency**</ion-label>
                <ion-select formControlName="dosefrequency" (ionBlur)="checkDoseValid()"  [disabled]="medCompleted">
                  <ion-option class="section-title" value="As Needed" (ionSelect)="setAsNeeded()">As Needed</ion-option>
                  <ion-option class="section-title" value="Once Daily" (ionSelect)="notAsNeeded()">Once Daily</ion-option>
                  <ion-option class="section-title" value="Twice Daily" (ionSelect)="notAsNeeded()">Twice Daily</ion-option>
                  <ion-option class="section-title" value="Every 8 Hours" (ionSelect)="notAsNeeded()">Every 8 Hours</ion-option>
                  <ion-option class="section-title" value="Every 6 Hours" (ionSelect)="notAsNeeded()">Every 6 Hours</ion-option>
                  <ion-option class="section-title" value="Every 4 Hours" (ionSelect)="notAsNeeded()">Every 4 Hours</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-77>
              <h2 class = "section-title" (click)="presentHelp(myEvent)">Dose Tracking Typeⓘ</h2>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="openSchedule()" [disabled]="isAsNeeded || !hasValidDoseData">
                <ion-icon name="clock"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="columnAlign" no-padding width-10>
              <button ion-button block class="form-action-button-top"  type="button" (click)="doseHistory()" [disabled]="newRec">
                <ion-icon name="paper"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label floating>Tracking type**</ion-label>
              <ion-select formControlName="dosetrackingtype" (ionBlur)="checkDoseValid()" [disabled]="medCompleted || isAsNeeded">
                <ion-option class="section-title" value="passive" (ionSelect)="checkDoseValid()">Passive</ion-option>
                <ion-option class="section-title" value="active" (ionSelect)="checkDoseValid()">Active</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <p class="section-tips" *ngIf="showTips"><b>**</b>To set up a dosing schedule and (optional) notifications, please fill out all fields marked ** and use the clock button above (activated when data is entered).  The dose frequency must not be "As Needed" for scheduling.</p>
        </ion-card>

        <ion-card class="sample-form">
          <ion-row>
            <h2 class = "section-title" >Results</h2>
          </ion-row>

          <ion-row>
            <ion-col width-50>
              <ion-label class="section-checkbox-label">Ineffective
                <ion-checkbox formControlName="ineffectiveflag"></ion-checkbox>
              </ion-label>
            </ion-col>
            <ion-col width-50>
                <ion-label class="section-checkbox-label">Allergic
                  <ion-checkbox formControlName="allergyflag" ></ion-checkbox>
                </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col no-padding width-87>
              <h2 class = "section-title">Adverse Reactions</h2>
            </ion-col>
           <ion-col class="columnAlign" no-padding width-10>
                <button ion-button block class="form-action-button-top"  type="button" (click)="addSideeffect()">
                  <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
          </ion-row>
          <div formArrayName="sideeffects" *ngFor="let info of card_form.get('sideeffects').controls; let i = index;">
            <div [formGroupName]="i">
              <ion-row>
                <ion-col no-padding width-50>
                  <ion-item>
                    <ion-label floating>For</ion-label>
                    <ion-input type="text" formControlName="verbatimindication"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col no-padding width-37>
                  <ion-item>
                    <ion-label floating>Start</ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" formControlName="startdate"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col class="columnAlign" no-padding width-10>
                  <button ion-button block class="form-action-button"  type="button" (click)="updateTreatmentResults(i)">
                    <ion-icon name="share-alt"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </div>
          </div>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Comments</ion-label>
                <ion-textarea type="text" formControlName="comments" autosize></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-card>

        <section class="form-section">
         <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-50>
                <button ion-button block class="form-action-button" type="submit" [disabled]="!(card_form.dirty || card_form.valid)">Save</button>
            </ion-col>
            <ion-col no-padding width-50>
              <button ion-button block class="form-action-button" type="button" (click)="deleteRecord()" [disabled]="newRec || mode=='basic'">Delete</button>
            </ion-col>
         </ion-row>
        </section>
      </form>
    </div>
</ion-content>
